@page "/"

<PageTitle>Blazor project for SAN</PageTitle>

<h1>Tashtsimirau Ruslan</h1>

<h2>Album number: 119739</h2>

<img src="img/cat_1.jpg" class="home-element" />

<div class="jumbotron rounded p-3 home-element home-to-another">
    <h3>
        <svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='#989070' class='bi bi-images' viewBox='0 0 16 16'><path d='M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3'/><path d='M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z'/></svg>
        See random images
    </h3>
    <p>On this website I have implemented a page for displaying images created by AI in random order.</p>
    <p><a class="btn btn-primary btn-lg" href="/randomImage" role="button">Show random images</a></p>
</div>

<div class="jumbotron rounded p-3 home-element home-to-another">
    <h3>
        <svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='#989070' class='bi bi-cloud-sun-fill' viewBox='0 0 16 16'><path d='M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5z'/><path d='M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708zm1.734 3.374a2 2 0 1 1 3.296 2.198q.3.423.516.898a3 3 0 1 0-4.84-3.225q.529.017 1.028.129m4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377M14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z'/></svg>
        See world cities weather
    </h3>
    <p>On this site I have implemented a page displaying weather in several cities around the world. Weather information is uploaded to the website using API requests from the OpenWeather service.</p>
    <p><a class="btn btn-warning btn-lg" href="/weather" role="button">Show world cities weather</a></p>
</div>

<div class="my-3"></div>